/* add your CSS here */
#background_color{background-color: rgb(219, 235, 245);margin: 3px;}

span{font-weight: bold;color: blue;}

.interesting_facts {font-style: italic;font-family:sans-serif;color: blue;font-weight: bold;}

.main_container {border: 2px solid rgb(31, 7, 255);padding: 10px;
  display: block;margin: 10px left;width: 350px;

}

.info_container {border: 2px solid rgb(31, 7, 255);padding: 10px;margin: 3px;color: rgb(16, 35, 119);}

li{list-style-type: none;text-align: left;}


img {width: 300px;display: block;margin: 5px left;padding: 10px;}


h3 {font-family: sans-serif;font-weight: bolder;border-width: medium;
  color: rgb(187, 139, 97);text-shadow: 1px 2px;border-style: solid;
  padding: 2px;
}

.move-me {right: 40px;position: left;}